body {
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
    color: #333;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

header, footer {
    background-color: #436480;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
}

header h1, footer h2 {
    margin: 0;
}

.gradient-text {
    background: linear-gradient(to right, #905e24, #f5ec8b, #905e36);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

main {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h2 {
    color: #436480;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

ul {
    margin-bottom: 15px;
    list-style: disc;
    margin-left: 20px;
}
li {
	margin-bottom: 10px;
}
.last-updated {
    text-align: right;
    font-size: 0.9em;
    color: #666;
    margin-top: 20px;
}

a {
    color: #436480;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav a {
    color: #ffdc73;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact-form label {
    font-weight: bold;
    color: #436480;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #2C4256;
    border-radius: 5px;
    background-color: #f5f7fa;
}

.contact-form button {
    background-color: #436480;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.contact-form button:hover {
    background-color: #2C4256;
}
